body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:414px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u11217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:800px;
}
#u11217 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:800px;
}
#u11218 {
  position:absolute;
  left:2px;
  top:392px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11219_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:560px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11219 {
  position:absolute;
  left:32px;
  top:138px;
  width:350px;
  height:560px;
}
#u11220 {
  position:absolute;
  left:2px;
  top:272px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11221_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:110px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11221 {
  position:absolute;
  left:32px;
  top:138px;
  width:350px;
  height:110px;
}
#u11222 {
  position:absolute;
  left:2px;
  top:47px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11223 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11224 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:56px;
}
#u11225 {
  position:absolute;
  left:32px;
  top:81px;
  width:350px;
  height:56px;
}
#u11226 {
  position:absolute;
  left:2px;
  top:20px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11227_div {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:40px;
  background:inherit;
  background-color:rgba(50, 51, 53, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11227 {
  position:absolute;
  left:57px;
  top:97px;
  width:282px;
  height:40px;
}
#u11228 {
  position:absolute;
  left:2px;
  top:12px;
  width:278px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11229_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u11229 {
  position:absolute;
  left:176px;
  top:106px;
  width:37px;
  height:22px;
  color:#FFFFFF;
}
#u11230 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u11231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:2px;
}
#u11231 {
  position:absolute;
  left:32px;
  top:194px;
  width:350px;
  height:1px;
}
#u11232 {
  position:absolute;
  left:2px;
  top:-8px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:28px;
}
#u11233 {
  position:absolute;
  left:48px;
  top:157px;
  width:41px;
  height:27px;
}
#u11234 {
  position:absolute;
  left:2px;
  top:6px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:28px;
}
#u11235 {
  position:absolute;
  left:48px;
  top:205px;
  width:41px;
  height:27px;
}
#u11236 {
  position:absolute;
  left:2px;
  top:6px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11237_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u11237 {
  position:absolute;
  left:99px;
  top:163px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u11238 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u11239_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u11239 {
  position:absolute;
  left:99px;
  top:205px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u11240 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u11241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u11241 {
  position:absolute;
  left:81px;
  top:139px;
  width:24px;
  height:24px;
  color:#FFFFFF;
}
#u11242 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
