body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:960px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1638_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:60px;
}
#u1638 {
  position:absolute;
  left:42px;
  top:92px;
  width:350px;
  height:60px;
}
#u1639 {
  position:absolute;
  left:2px;
  top:22px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1640_div {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u1640 {
  position:absolute;
  left:134px;
  top:123px;
  width:167px;
  height:19px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u1641 {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  word-wrap:break-word;
}
#u1642_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1642 {
  position:absolute;
  left:42px;
  top:660px;
  width:350px;
  height:52px;
}
#u1643 {
  position:absolute;
  left:2px;
  top:18px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1644 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1645_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:58px;
}
#u1645 {
  position:absolute;
  left:42px;
  top:92px;
  width:350px;
  height:58px;
}
#u1646 {
  position:absolute;
  left:2px;
  top:21px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1647_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:39px;
  background:inherit;
  background-color:rgba(54, 56, 59, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1647 {
  position:absolute;
  left:115px;
  top:111px;
  width:240px;
  height:39px;
}
#u1648 {
  position:absolute;
  left:2px;
  top:12px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1649_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u1649 {
  position:absolute;
  left:122px;
  top:120px;
  width:33px;
  height:22px;
  font-size:16px;
  color:#FFFFFF;
}
#u1650 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u1651 {
  position:absolute;
  left:42px;
  top:111px;
  width:38px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1652_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:548px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1652 {
  position:absolute;
  left:42px;
  top:152px;
  width:350px;
  height:548px;
}
#u1653 {
  position:absolute;
  left:2px;
  top:266px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1654_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1654 {
  position:absolute;
  left:42px;
  top:152px;
  width:350px;
  height:59px;
  text-align:left;
}
#u1655 {
  position:absolute;
  left:2px;
  top:20px;
  width:346px;
  word-wrap:break-word;
}
#u1656_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:18px;
}
#u1656 {
  position:absolute;
  left:218px;
  top:173px;
  width:165px;
  height:18px;
  text-align:right;
}
#u1657 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  white-space:nowrap;
}
#u1658_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1658 {
  position:absolute;
  left:42px;
  top:269px;
  width:350px;
  height:59px;
  text-align:left;
}
#u1659 {
  position:absolute;
  left:2px;
  top:20px;
  width:346px;
  word-wrap:break-word;
}
#u1660_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u1660 {
  position:absolute;
  left:356px;
  top:290px;
  width:27px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u1661 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u1662_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1662 {
  position:absolute;
  left:42px;
  top:328px;
  width:350px;
  height:59px;
  text-align:left;
}
#u1663 {
  position:absolute;
  left:2px;
  top:20px;
  width:346px;
  word-wrap:break-word;
}
#u1664_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:18px;
}
#u1664 {
  position:absolute;
  left:329px;
  top:349px;
  width:54px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u1665 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u1666_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1666 {
  position:absolute;
  left:42px;
  top:387px;
  width:350px;
  height:59px;
  text-align:left;
}
#u1667 {
  position:absolute;
  left:2px;
  top:20px;
  width:346px;
  word-wrap:break-word;
}
#u1668_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:18px;
}
#u1668 {
  position:absolute;
  left:369px;
  top:408px;
  width:14px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u1669 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u1670_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:18px;
}
#u1670 {
  position:absolute;
  left:293px;
  top:408px;
  width:66px;
  height:18px;
  color:#CCCCCC;
  text-align:right;
}
#u1671 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u1672_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1672 {
  position:absolute;
  left:42px;
  top:446px;
  width:350px;
  height:59px;
  text-align:left;
}
#u1673 {
  position:absolute;
  left:2px;
  top:20px;
  width:346px;
  word-wrap:break-word;
}
#u1674_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:18px;
}
#u1674 {
  position:absolute;
  left:291px;
  top:467px;
  width:92px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:right;
}
#u1675 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u1676 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1677_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FF0000;
}
#u1677 {
  position:absolute;
  left:439px;
  top:88px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FF0000;
}
#u1678 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1679_div {
  position:absolute;
  left:0px;
  top:0px;
  width:521px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u1679 {
  position:absolute;
  left:439px;
  top:123px;
  width:521px;
  height:80px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u1680 {
  position:absolute;
  left:0px;
  top:0px;
  width:521px;
  white-space:nowrap;
}
#u1681 {
  position:absolute;
  left:142px;
  top:576px;
  width:186px;
  height:40px;
}
#u1681_input {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u1681_input {
  font-family:'应用字体';
}
#u1682_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1682 {
  position:absolute;
  left:42px;
  top:211px;
  width:350px;
  height:59px;
  text-align:left;
}
#u1683 {
  position:absolute;
  left:2px;
  top:20px;
  width:346px;
  word-wrap:break-word;
}
#u1684_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:18px;
}
#u1684 {
  position:absolute;
  left:321px;
  top:232px;
  width:62px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u1685 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
