body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1340px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9873_img {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:800px;
}
#u9873 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:800px;
}
#u9874 {
  position:absolute;
  left:2px;
  top:392px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9875_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:560px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9875 {
  position:absolute;
  left:32px;
  top:138px;
  width:350px;
  height:560px;
}
#u9876 {
  position:absolute;
  left:2px;
  top:272px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9877_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:560px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9877 {
  position:absolute;
  left:32px;
  top:138px;
  width:350px;
  height:560px;
}
#u9878 {
  position:absolute;
  left:2px;
  top:272px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9879 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9880_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:58px;
}
#u9880 {
  position:absolute;
  left:32px;
  top:80px;
  width:350px;
  height:58px;
}
#u9881 {
  position:absolute;
  left:2px;
  top:21px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9882_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:39px;
  background:inherit;
  background-color:rgba(54, 56, 59, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9882 {
  position:absolute;
  left:105px;
  top:99px;
  width:240px;
  height:39px;
}
#u9883 {
  position:absolute;
  left:2px;
  top:12px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9884_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u9884 {
  position:absolute;
  left:112px;
  top:108px;
  width:73px;
  height:22px;
  color:#FFFFFF;
}
#u9885 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u9886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u9886 {
  position:absolute;
  left:54px;
  top:160px;
  width:60px;
  height:60px;
}
#u9887 {
  position:absolute;
  left:2px;
  top:21px;
  width:56px;
  word-wrap:break-word;
}
#u9888_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u9888 {
  position:absolute;
  left:128px;
  top:160px;
  width:60px;
  height:60px;
}
#u9889 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u9890 {
  position:absolute;
  left:202px;
  top:160px;
  width:60px;
  height:60px;
}
#u9891 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u9892 {
  position:absolute;
  left:276px;
  top:160px;
  width:60px;
  height:60px;
}
#u9893 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u9894 {
  position:absolute;
  left:54px;
  top:230px;
  width:60px;
  height:60px;
}
#u9895 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u9896 {
  position:absolute;
  left:128px;
  top:230px;
  width:60px;
  height:60px;
}
#u9897 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9898_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u9898 {
  position:absolute;
  left:202px;
  top:230px;
  width:60px;
  height:60px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u9899 {
  position:absolute;
  left:2px;
  top:14px;
  width:56px;
  word-wrap:break-word;
}
#u9900_img {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:800px;
}
#u9900 {
  position:absolute;
  left:443px;
  top:0px;
  width:414px;
  height:800px;
}
#u9901 {
  position:absolute;
  left:2px;
  top:392px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:560px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9902 {
  position:absolute;
  left:475px;
  top:138px;
  width:350px;
  height:560px;
}
#u9903 {
  position:absolute;
  left:2px;
  top:272px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9904_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:568px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9904 {
  position:absolute;
  left:475px;
  top:138px;
  width:350px;
  height:568px;
}
#u9905 {
  position:absolute;
  left:2px;
  top:276px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9906 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:58px;
}
#u9907 {
  position:absolute;
  left:475px;
  top:80px;
  width:350px;
  height:58px;
}
#u9908 {
  position:absolute;
  left:2px;
  top:21px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9909_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:39px;
  background:inherit;
  background-color:rgba(54, 56, 59, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9909 {
  position:absolute;
  left:548px;
  top:99px;
  width:240px;
  height:39px;
}
#u9910 {
  position:absolute;
  left:2px;
  top:12px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9911_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u9911 {
  position:absolute;
  left:555px;
  top:108px;
  width:73px;
  height:22px;
  color:#FFFFFF;
}
#u9912 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u9913_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u9913 {
  position:absolute;
  left:506px;
  top:160px;
  width:60px;
  height:60px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u9914 {
  position:absolute;
  left:2px;
  top:14px;
  width:56px;
  word-wrap:break-word;
}
#u9915_div {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u9915 {
  position:absolute;
  left:581px;
  top:356px;
  width:175px;
  height:19px;
  font-size:16px;
}
#u9916 {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  word-wrap:break-word;
}
#u9917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:800px;
}
#u9917 {
  position:absolute;
  left:926px;
  top:0px;
  width:414px;
  height:800px;
}
#u9918 {
  position:absolute;
  left:2px;
  top:392px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9919_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:560px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9919 {
  position:absolute;
  left:958px;
  top:138px;
  width:350px;
  height:560px;
}
#u9920 {
  position:absolute;
  left:2px;
  top:272px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:568px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9921 {
  position:absolute;
  left:958px;
  top:138px;
  width:350px;
  height:568px;
}
#u9922 {
  position:absolute;
  left:2px;
  top:276px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9923 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:58px;
}
#u9924 {
  position:absolute;
  left:958px;
  top:80px;
  width:350px;
  height:58px;
}
#u9925 {
  position:absolute;
  left:2px;
  top:21px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:39px;
  background:inherit;
  background-color:rgba(54, 56, 59, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9926 {
  position:absolute;
  left:1031px;
  top:99px;
  width:240px;
  height:39px;
}
#u9927 {
  position:absolute;
  left:2px;
  top:12px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u9928 {
  position:absolute;
  left:1038px;
  top:108px;
  width:73px;
  height:22px;
  color:#FFFFFF;
}
#u9929 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u9930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u9930 {
  position:absolute;
  left:973px;
  top:160px;
  width:320px;
  height:480px;
}
#u9931 {
  position:absolute;
  left:2px;
  top:232px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9932 {
  position:absolute;
  left:990px;
  top:596px;
  width:303px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u9933_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:307px;
  background:inherit;
  background-color:rgba(134, 134, 134, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9933 {
  position:absolute;
  left:973px;
  top:160px;
  width:320px;
  height:307px;
}
#u9934 {
  position:absolute;
  left:2px;
  top:146px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9935 {
  position:absolute;
  left:137px;
  top:640px;
  width:140px;
  height:40px;
}
#u9936 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
