body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1340px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10621_img {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:800px;
}
#u10621 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:800px;
}
#u10622 {
  position:absolute;
  left:2px;
  top:392px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10623_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:560px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10623 {
  position:absolute;
  left:32px;
  top:138px;
  width:350px;
  height:560px;
}
#u10624 {
  position:absolute;
  left:2px;
  top:272px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10625_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:560px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10625 {
  position:absolute;
  left:32px;
  top:138px;
  width:350px;
  height:560px;
}
#u10626 {
  position:absolute;
  left:2px;
  top:272px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10627 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10628_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:58px;
}
#u10628 {
  position:absolute;
  left:32px;
  top:80px;
  width:350px;
  height:58px;
}
#u10629 {
  position:absolute;
  left:2px;
  top:21px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10630_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:39px;
  background:inherit;
  background-color:rgba(54, 56, 59, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10630 {
  position:absolute;
  left:105px;
  top:99px;
  width:240px;
  height:39px;
}
#u10631 {
  position:absolute;
  left:2px;
  top:12px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10632_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u10632 {
  position:absolute;
  left:112px;
  top:108px;
  width:73px;
  height:22px;
  color:#FFFFFF;
}
#u10633 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u10634_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u10634 {
  position:absolute;
  left:54px;
  top:160px;
  width:60px;
  height:60px;
}
#u10635 {
  position:absolute;
  left:2px;
  top:21px;
  width:56px;
  word-wrap:break-word;
}
#u10636_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u10636 {
  position:absolute;
  left:128px;
  top:160px;
  width:60px;
  height:60px;
}
#u10637 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10638_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u10638 {
  position:absolute;
  left:202px;
  top:160px;
  width:60px;
  height:60px;
}
#u10639 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10640_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u10640 {
  position:absolute;
  left:276px;
  top:160px;
  width:60px;
  height:60px;
}
#u10641 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10642_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u10642 {
  position:absolute;
  left:54px;
  top:230px;
  width:60px;
  height:60px;
}
#u10643 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10644_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u10644 {
  position:absolute;
  left:128px;
  top:230px;
  width:60px;
  height:60px;
}
#u10645 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10646_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u10646 {
  position:absolute;
  left:202px;
  top:230px;
  width:60px;
  height:60px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u10647 {
  position:absolute;
  left:2px;
  top:14px;
  width:56px;
  word-wrap:break-word;
}
#u10648_img {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:800px;
}
#u10648 {
  position:absolute;
  left:443px;
  top:0px;
  width:414px;
  height:800px;
}
#u10649 {
  position:absolute;
  left:2px;
  top:392px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10650_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:560px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10650 {
  position:absolute;
  left:475px;
  top:138px;
  width:350px;
  height:560px;
}
#u10651 {
  position:absolute;
  left:2px;
  top:272px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10652_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:568px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10652 {
  position:absolute;
  left:475px;
  top:138px;
  width:350px;
  height:568px;
}
#u10653 {
  position:absolute;
  left:2px;
  top:276px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10654 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10655_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:58px;
}
#u10655 {
  position:absolute;
  left:475px;
  top:80px;
  width:350px;
  height:58px;
}
#u10656 {
  position:absolute;
  left:2px;
  top:21px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10657_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:39px;
  background:inherit;
  background-color:rgba(54, 56, 59, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10657 {
  position:absolute;
  left:548px;
  top:99px;
  width:240px;
  height:39px;
}
#u10658 {
  position:absolute;
  left:2px;
  top:12px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10659_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u10659 {
  position:absolute;
  left:555px;
  top:108px;
  width:73px;
  height:22px;
  color:#FFFFFF;
}
#u10660 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u10661_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u10661 {
  position:absolute;
  left:506px;
  top:160px;
  width:60px;
  height:60px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u10662 {
  position:absolute;
  left:2px;
  top:14px;
  width:56px;
  word-wrap:break-word;
}
#u10663_div {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u10663 {
  position:absolute;
  left:581px;
  top:356px;
  width:175px;
  height:19px;
  font-size:16px;
}
#u10664 {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  word-wrap:break-word;
}
#u10665_img {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:800px;
}
#u10665 {
  position:absolute;
  left:926px;
  top:0px;
  width:414px;
  height:800px;
}
#u10666 {
  position:absolute;
  left:2px;
  top:392px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10667_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:560px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10667 {
  position:absolute;
  left:958px;
  top:138px;
  width:350px;
  height:560px;
}
#u10668 {
  position:absolute;
  left:2px;
  top:272px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10669_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:568px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10669 {
  position:absolute;
  left:958px;
  top:138px;
  width:350px;
  height:568px;
}
#u10670 {
  position:absolute;
  left:2px;
  top:276px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10671 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10672_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:58px;
}
#u10672 {
  position:absolute;
  left:958px;
  top:80px;
  width:350px;
  height:58px;
}
#u10673 {
  position:absolute;
  left:2px;
  top:21px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10674_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:39px;
  background:inherit;
  background-color:rgba(54, 56, 59, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10674 {
  position:absolute;
  left:1031px;
  top:99px;
  width:240px;
  height:39px;
}
#u10675 {
  position:absolute;
  left:2px;
  top:12px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10676_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u10676 {
  position:absolute;
  left:1038px;
  top:108px;
  width:73px;
  height:22px;
  color:#FFFFFF;
}
#u10677 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u10678_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u10678 {
  position:absolute;
  left:973px;
  top:160px;
  width:320px;
  height:480px;
}
#u10679 {
  position:absolute;
  left:2px;
  top:232px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10680 {
  position:absolute;
  left:990px;
  top:596px;
  width:303px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u10681_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:307px;
  background:inherit;
  background-color:rgba(134, 134, 134, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10681 {
  position:absolute;
  left:973px;
  top:160px;
  width:320px;
  height:307px;
}
#u10682 {
  position:absolute;
  left:2px;
  top:146px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10683_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10683 {
  position:absolute;
  left:137px;
  top:640px;
  width:140px;
  height:40px;
}
#u10684 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
