body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:576px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6301_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:560px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6301 {
  position:absolute;
  left:50px;
  top:106px;
  width:350px;
  height:560px;
}
#u6302 {
  position:absolute;
  left:2px;
  top:272px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6303_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:119px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6303 {
  position:absolute;
  left:50px;
  top:106px;
  width:350px;
  height:119px;
}
#u6304 {
  position:absolute;
  left:2px;
  top:52px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6305_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u6305 {
  position:absolute;
  left:188px;
  top:118px;
  width:60px;
  height:60px;
}
#u6306 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6307_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6307 {
  position:absolute;
  left:188px;
  top:188px;
  width:55px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6308 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u6309_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:97px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6309 {
  position:absolute;
  left:50px;
  top:233px;
  width:350px;
  height:97px;
}
#u6310 {
  position:absolute;
  left:2px;
  top:40px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6311_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u6311 {
  position:absolute;
  left:61px;
  top:245px;
  width:57px;
  height:16px;
  font-size:14px;
}
#u6312 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6313_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6313 {
  position:absolute;
  left:67px;
  top:303px;
  width:43px;
  height:16px;
}
#u6314 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u6315_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:22px;
}
#u6315 {
  position:absolute;
  left:66px;
  top:271px;
  width:41px;
  height:21px;
}
#u6316 {
  position:absolute;
  left:2px;
  top:2px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6317_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:22px;
}
#u6317 {
  position:absolute;
  left:312px;
  top:271px;
  width:41px;
  height:21px;
}
#u6318 {
  position:absolute;
  left:2px;
  top:2px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6319_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6319 {
  position:absolute;
  left:311px;
  top:302px;
  width:43px;
  height:16px;
}
#u6320 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u6321_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:232px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6321 {
  position:absolute;
  left:50px;
  top:336px;
  width:350px;
  height:232px;
}
#u6322 {
  position:absolute;
  left:2px;
  top:108px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6323_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:27px;
}
#u6323 {
  position:absolute;
  left:66px;
  top:348px;
  width:46px;
  height:26px;
}
#u6324 {
  position:absolute;
  left:2px;
  top:5px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6325_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6325 {
  position:absolute;
  left:129px;
  top:353px;
  width:57px;
  height:16px;
}
#u6326 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6327_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:2px;
}
#u6327 {
  position:absolute;
  left:50px;
  top:384px;
  width:350px;
  height:1px;
}
#u6328 {
  position:absolute;
  left:2px;
  top:-8px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6329_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:27px;
}
#u6329 {
  position:absolute;
  left:66px;
  top:396px;
  width:46px;
  height:26px;
}
#u6330 {
  position:absolute;
  left:2px;
  top:5px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6331_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6331 {
  position:absolute;
  left:127px;
  top:401px;
  width:57px;
  height:16px;
}
#u6332 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6333_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:2px;
}
#u6333 {
  position:absolute;
  left:50px;
  top:434px;
  width:350px;
  height:1px;
}
#u6334 {
  position:absolute;
  left:2px;
  top:-8px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6335 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6336 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6337_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:56px;
}
#u6337 {
  position:absolute;
  left:50px;
  top:50px;
  width:350px;
  height:56px;
}
#u6338 {
  position:absolute;
  left:2px;
  top:20px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6339_div {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:40px;
  background:inherit;
  background-color:rgba(50, 51, 53, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6339 {
  position:absolute;
  left:75px;
  top:66px;
  width:282px;
  height:40px;
}
#u6340 {
  position:absolute;
  left:2px;
  top:12px;
  width:278px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6341_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u6341 {
  position:absolute;
  left:194px;
  top:75px;
  width:37px;
  height:22px;
  color:#FFFFFF;
}
#u6342 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u6343_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:27px;
}
#u6343 {
  position:absolute;
  left:66px;
  top:448px;
  width:46px;
  height:26px;
}
#u6344 {
  position:absolute;
  left:2px;
  top:5px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6345_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6345 {
  position:absolute;
  left:128px;
  top:453px;
  width:57px;
  height:16px;
}
#u6346 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6348 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6349_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:53px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6349 {
  position:absolute;
  left:50px;
  top:613px;
  width:350px;
  height:53px;
}
#u6350 {
  position:absolute;
  left:2px;
  top:18px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6351 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6352_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:14px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#6B6B6B;
  text-align:center;
}
#u6352 {
  position:absolute;
  left:70px;
  top:646px;
  width:61px;
  height:14px;
  font-size:11px;
  color:#6B6B6B;
  text-align:center;
}
#u6353 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u6354_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:14px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#6B6B6B;
  text-align:center;
}
#u6354 {
  position:absolute;
  left:319px;
  top:646px;
  width:61px;
  height:14px;
  font-size:11px;
  color:#6B6B6B;
  text-align:center;
}
#u6355 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u6356_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:14px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#6B6B6B;
  text-align:center;
}
#u6356 {
  position:absolute;
  left:236px;
  top:645px;
  width:61px;
  height:14px;
  font-size:11px;
  color:#6B6B6B;
  text-align:center;
}
#u6357 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u6358 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6359_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#6B6B6B;
  text-align:center;
}
#u6359 {
  position:absolute;
  left:157px;
  top:645px;
  width:61px;
  height:16px;
  font-size:11px;
  color:#6B6B6B;
  text-align:center;
}
#u6360 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u6361_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:19px;
}
#u6361 {
  position:absolute;
  left:87px;
  top:622px;
  width:27px;
  height:18px;
}
#u6362 {
  position:absolute;
  left:2px;
  top:1px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6363_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:19px;
}
#u6363 {
  position:absolute;
  left:174px;
  top:622px;
  width:27px;
  height:18px;
}
#u6364 {
  position:absolute;
  left:2px;
  top:1px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6365_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:19px;
}
#u6365 {
  position:absolute;
  left:253px;
  top:622px;
  width:27px;
  height:18px;
}
#u6366 {
  position:absolute;
  left:2px;
  top:1px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6367_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:19px;
}
#u6367 {
  position:absolute;
  left:336px;
  top:622px;
  width:27px;
  height:18px;
}
#u6368 {
  position:absolute;
  left:2px;
  top:1px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6369 {
  position:absolute;
  left:51px;
  top:613px;
  width:90px;
  height:53px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6370 {
  position:absolute;
  left:141px;
  top:613px;
  width:85px;
  height:53px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6371 {
  position:absolute;
  left:224px;
  top:613px;
  width:85px;
  height:53px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6372 {
  position:absolute;
  left:307px;
  top:613px;
  width:93px;
  height:53px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6373_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u6373 {
  position:absolute;
  left:94px;
  top:261px;
  width:24px;
  height:24px;
  color:#FFFFFF;
}
#u6374 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u6375_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u6375 {
  position:absolute;
  left:349px;
  top:612px;
  width:24px;
  height:24px;
  color:#FFFFFF;
}
#u6376 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u6377 {
  position:absolute;
  left:50px;
  top:261px;
  width:100px;
  height:69px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6378 {
  position:absolute;
  left:277px;
  top:260px;
  width:110px;
  height:70px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6379 {
  position:absolute;
  left:50px;
  top:335px;
  width:350px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6380 {
  position:absolute;
  left:50px;
  top:384px;
  width:350px;
  height:51px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6381_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:27px;
}
#u6381 {
  position:absolute;
  left:190px;
  top:266px;
  width:46px;
  height:26px;
}
#u6382 {
  position:absolute;
  left:2px;
  top:5px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6383_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6383 {
  position:absolute;
  left:192px;
  top:302px;
  width:43px;
  height:16px;
}
#u6384 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u6385_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6385 {
  position:absolute;
  left:50px;
  top:568px;
  width:350px;
  height:45px;
}
#u6386 {
  position:absolute;
  left:2px;
  top:14px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6387_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:27px;
}
#u6387 {
  position:absolute;
  left:66px;
  top:497px;
  width:46px;
  height:26px;
}
#u6388 {
  position:absolute;
  left:2px;
  top:5px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6389_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6389 {
  position:absolute;
  left:128px;
  top:502px;
  width:57px;
  height:16px;
}
#u6390 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6391_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:2px;
}
#u6391 {
  position:absolute;
  left:50px;
  top:484px;
  width:350px;
  height:1px;
}
#u6392 {
  position:absolute;
  left:2px;
  top:-8px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6393_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:27px;
}
#u6393 {
  position:absolute;
  left:66px;
  top:539px;
  width:46px;
  height:26px;
}
#u6394 {
  position:absolute;
  left:2px;
  top:5px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6395_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6395 {
  position:absolute;
  left:128px;
  top:544px;
  width:57px;
  height:16px;
}
#u6396 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6397_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u6397 {
  position:absolute;
  left:345px;
  top:536px;
  width:32px;
  height:32px;
}
#u6398 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6399_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:2px;
}
#u6399 {
  position:absolute;
  left:50px;
  top:529px;
  width:350px;
  height:1px;
}
#u6400 {
  position:absolute;
  left:2px;
  top:-8px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6401_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u6401 {
  position:absolute;
  left:224px;
  top:252px;
  width:24px;
  height:24px;
  color:#FFFFFF;
}
#u6402 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u6403_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u6403 {
  position:absolute;
  left:104px;
  top:484px;
  width:24px;
  height:24px;
  color:#FFFFFF;
}
#u6404 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u6405 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6406_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FF0000;
}
#u6406 {
  position:absolute;
  left:457px;
  top:50px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FF0000;
}
#u6407 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u6408_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u6408 {
  position:absolute;
  left:457px;
  top:85px;
  width:119px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u6409 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  white-space:nowrap;
}
