body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:414px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9884_img {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:800px;
}
#u9884 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:800px;
}
#u9885 {
  position:absolute;
  left:2px;
  top:392px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9886_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:560px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9886 {
  position:absolute;
  left:32px;
  top:138px;
  width:350px;
  height:560px;
}
#u9887 {
  position:absolute;
  left:2px;
  top:272px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:560px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9888 {
  position:absolute;
  left:32px;
  top:138px;
  width:350px;
  height:560px;
}
#u9889 {
  position:absolute;
  left:2px;
  top:272px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9890 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:58px;
}
#u9891 {
  position:absolute;
  left:32px;
  top:80px;
  width:350px;
  height:58px;
}
#u9892 {
  position:absolute;
  left:2px;
  top:21px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9893_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:39px;
  background:inherit;
  background-color:rgba(54, 56, 59, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9893 {
  position:absolute;
  left:105px;
  top:99px;
  width:240px;
  height:39px;
}
#u9894 {
  position:absolute;
  left:2px;
  top:12px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:561px;
}
#u9895 {
  position:absolute;
  left:32px;
  top:138px;
  width:350px;
  height:560px;
}
#u9896 {
  position:absolute;
  left:2px;
  top:271px;
  width:346px;
  word-wrap:break-word;
}
#u9897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9897 {
  position:absolute;
  left:48px;
  top:160px;
  width:26px;
  height:22px;
}
#u9898 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  white-space:nowrap;
}
#u9899_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u9899 {
  position:absolute;
  left:336px;
  top:150px;
  width:32px;
  height:32px;
}
#u9900 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9901_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:170px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9901 {
  position:absolute;
  left:48px;
  top:222px;
  width:320px;
  height:170px;
}
#u9902 {
  position:absolute;
  left:2px;
  top:77px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9903 {
  position:absolute;
  left:87px;
  top:246px;
  width:29px;
  height:16px;
}
#u9904 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u9905_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9905 {
  position:absolute;
  left:87px;
  top:290px;
  width:127px;
  height:16px;
}
#u9906 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u9907_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9907 {
  position:absolute;
  left:217px;
  top:352px;
  width:29px;
  height:16px;
}
#u9908 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u9909_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#3B9DF7;
}
#u9909 {
  position:absolute;
  left:294px;
  top:352px;
  width:29px;
  height:16px;
  color:#3B9DF7;
}
#u9910 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u9911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u9911 {
  position:absolute;
  left:125px;
  top:109px;
  width:73px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u9912 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
