body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:721px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10800_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:1185px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10800 {
  position:absolute;
  left:51px;
  top:110px;
  width:350px;
  height:1185px;
}
#u10801 {
  position:absolute;
  left:2px;
  top:584px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10802_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:60px;
}
#u10802 {
  position:absolute;
  left:51px;
  top:50px;
  width:350px;
  height:60px;
}
#u10803 {
  position:absolute;
  left:2px;
  top:22px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10804_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:177px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10804 {
  position:absolute;
  left:51px;
  top:76px;
  width:350px;
  height:177px;
}
#u10805 {
  position:absolute;
  left:2px;
  top:80px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10806_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u10806 {
  position:absolute;
  left:80px;
  top:214px;
  width:60px;
  height:60px;
}
#u10807 {
  position:absolute;
  left:2px;
  top:21px;
  width:56px;
  word-wrap:break-word;
}
#u10808 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10809_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:58px;
}
#u10809 {
  position:absolute;
  left:51px;
  top:52px;
  width:350px;
  height:58px;
}
#u10810 {
  position:absolute;
  left:2px;
  top:21px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10811_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:39px;
  background:inherit;
  background-color:rgba(54, 56, 59, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10811 {
  position:absolute;
  left:124px;
  top:71px;
  width:240px;
  height:39px;
}
#u10812 {
  position:absolute;
  left:2px;
  top:12px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10813_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u10813 {
  position:absolute;
  left:131px;
  top:80px;
  width:73px;
  height:25px;
  color:#FFFFFF;
}
#u10814 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u10815_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u10815 {
  position:absolute;
  left:72px;
  top:281px;
  width:29px;
  height:20px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u10816 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u10817 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10818_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10818 {
  position:absolute;
  left:51px;
  top:441px;
  width:350px;
  height:46px;
}
#u10819 {
  position:absolute;
  left:2px;
  top:15px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10820_div {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u10820 {
  position:absolute;
  left:63px;
  top:495px;
  width:139px;
  height:20px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u10821 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  word-wrap:break-word;
}
#u10822_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:99px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10822 {
  position:absolute;
  left:50px;
  top:521px;
  width:350px;
  height:99px;
}
#u10823 {
  position:absolute;
  left:2px;
  top:42px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10824_div {
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:18px;
}
#u10824 {
  position:absolute;
  left:62px;
  top:535px;
  width:329px;
  height:69px;
  line-height:18px;
}
#u10825 {
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  word-wrap:break-word;
}
#u10826_div {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u10826 {
  position:absolute;
  left:63px;
  top:630px;
  width:139px;
  height:20px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u10827 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  word-wrap:break-word;
}
#u10828_div {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u10828 {
  position:absolute;
  left:62px;
  top:415px;
  width:139px;
  height:20px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u10829 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  word-wrap:break-word;
}
#u10830_div {
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u10830 {
  position:absolute;
  left:62px;
  top:457px;
  width:329px;
  height:20px;
  font-size:14px;
}
#u10831 {
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  word-wrap:break-word;
}
#u10832_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:99px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10832 {
  position:absolute;
  left:50px;
  top:656px;
  width:350px;
  height:99px;
}
#u10833 {
  position:absolute;
  left:2px;
  top:42px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10834_div {
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:18px;
}
#u10834 {
  position:absolute;
  left:61px;
  top:671px;
  width:329px;
  height:69px;
  line-height:18px;
}
#u10835 {
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  word-wrap:break-word;
}
#u10836_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u10836 {
  position:absolute;
  left:317px;
  top:283px;
  width:29px;
  height:16px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u10837 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u10838 {
  position:absolute;
  left:51px;
  top:71px;
  width:44px;
  height:39px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u10839_div {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u10839 {
  position:absolute;
  left:64px;
  top:316px;
  width:139px;
  height:20px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u10840 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  word-wrap:break-word;
}
#u10841_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:68px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10841 {
  position:absolute;
  left:51px;
  top:337px;
  width:350px;
  height:68px;
}
#u10842 {
  position:absolute;
  left:2px;
  top:26px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10843_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:20px;
}
#u10843 {
  position:absolute;
  left:67px;
  top:348px;
  width:125px;
  height:20px;
  font-size:14px;
}
#u10844 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u10845_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
}
#u10845 {
  position:absolute;
  left:72px;
  top:374px;
  width:85px;
  height:20px;
  font-size:14px;
}
#u10846 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u10847_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u10847 {
  position:absolute;
  left:354px;
  top:360px;
  width:24px;
  height:24px;
}
#u10848 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10849_div {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u10849 {
  position:absolute;
  left:61px;
  top:768px;
  width:139px;
  height:20px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u10850 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  word-wrap:break-word;
}
#u10851_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:125px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10851 {
  position:absolute;
  left:51px;
  top:794px;
  width:350px;
  height:125px;
}
#u10852 {
  position:absolute;
  left:2px;
  top:54px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10853_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:101px;
}
#u10853 {
  position:absolute;
  left:63px;
  top:804px;
  width:103px;
  height:100px;
}
#u10854 {
  position:absolute;
  left:2px;
  top:42px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10855_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:101px;
}
#u10855 {
  position:absolute;
  left:176px;
  top:804px;
  width:103px;
  height:100px;
}
#u10856 {
  position:absolute;
  left:2px;
  top:42px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10857_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:101px;
}
#u10857 {
  position:absolute;
  left:287px;
  top:803px;
  width:103px;
  height:100px;
}
#u10858 {
  position:absolute;
  left:2px;
  top:42px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10859_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u10859 {
  position:absolute;
  left:67px;
  top:932px;
  width:57px;
  height:20px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u10860 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u10861_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:151px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10861 {
  position:absolute;
  left:50px;
  top:958px;
  width:350px;
  height:151px;
}
#u10862 {
  position:absolute;
  left:2px;
  top:68px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10863_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10863 {
  position:absolute;
  left:71px;
  top:1079px;
  width:85px;
  height:20px;
}
#u10864 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u10865_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10865 {
  position:absolute;
  left:190px;
  top:1079px;
  width:71px;
  height:20px;
}
#u10866 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u10867_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:101px;
}
#u10867 {
  position:absolute;
  left:62px;
  top:969px;
  width:103px;
  height:100px;
}
#u10868 {
  position:absolute;
  left:2px;
  top:42px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10869_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:101px;
}
#u10869 {
  position:absolute;
  left:175px;
  top:969px;
  width:103px;
  height:100px;
}
#u10870 {
  position:absolute;
  left:2px;
  top:42px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10871_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:101px;
}
#u10871 {
  position:absolute;
  left:288px;
  top:969px;
  width:103px;
  height:100px;
}
#u10872 {
  position:absolute;
  left:2px;
  top:42px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10873_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10873 {
  position:absolute;
  left:297px;
  top:1079px;
  width:85px;
  height:20px;
}
#u10874 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u10875_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10875 {
  position:absolute;
  left:53px;
  top:1147px;
  width:350px;
  height:45px;
}
#u10876 {
  position:absolute;
  left:2px;
  top:14px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10877_div {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u10877 {
  position:absolute;
  left:65px;
  top:1119px;
  width:139px;
  height:20px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u10878 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  word-wrap:break-word;
}
#u10879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u10879 {
  position:absolute;
  left:64px;
  top:1162px;
  width:329px;
  height:20px;
  font-size:14px;
}
#u10880 {
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  word-wrap:break-word;
}
#u10881_div {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u10881 {
  position:absolute;
  left:64px;
  top:1202px;
  width:139px;
  height:20px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u10882 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  word-wrap:break-word;
}
#u10883_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10883 {
  position:absolute;
  left:62px;
  top:1236px;
  width:58px;
  height:24px;
}
#u10884 {
  position:absolute;
  left:2px;
  top:3px;
  width:54px;
  word-wrap:break-word;
}
#u10885_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10885 {
  position:absolute;
  left:130px;
  top:1236px;
  width:58px;
  height:24px;
}
#u10886 {
  position:absolute;
  left:2px;
  top:3px;
  width:54px;
  word-wrap:break-word;
}
#u10887_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10887 {
  position:absolute;
  left:198px;
  top:1236px;
  width:58px;
  height:24px;
}
#u10888 {
  position:absolute;
  left:2px;
  top:3px;
  width:54px;
  word-wrap:break-word;
}
#u10889 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10890_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FF0000;
}
#u10890 {
  position:absolute;
  left:462px;
  top:50px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FF0000;
}
#u10891 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u10892_div {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u10892 {
  position:absolute;
  left:462px;
  top:85px;
  width:259px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u10893 {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  white-space:nowrap;
}
