body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:414px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:800px;
}
#u10020 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:800px;
}
#u10021 {
  position:absolute;
  left:2px;
  top:392px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:560px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10022 {
  position:absolute;
  left:32px;
  top:138px;
  width:350px;
  height:560px;
}
#u10023 {
  position:absolute;
  left:2px;
  top:272px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10024_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:560px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10024 {
  position:absolute;
  left:32px;
  top:138px;
  width:350px;
  height:560px;
}
#u10025 {
  position:absolute;
  left:2px;
  top:272px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10026 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:58px;
}
#u10027 {
  position:absolute;
  left:32px;
  top:80px;
  width:350px;
  height:58px;
}
#u10028 {
  position:absolute;
  left:2px;
  top:21px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:39px;
  background:inherit;
  background-color:rgba(54, 56, 59, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10029 {
  position:absolute;
  left:105px;
  top:99px;
  width:240px;
  height:39px;
}
#u10030 {
  position:absolute;
  left:2px;
  top:12px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10031_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u10031 {
  position:absolute;
  left:112px;
  top:108px;
  width:73px;
  height:22px;
  color:#FFFFFF;
}
#u10032 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u10033_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10033 {
  position:absolute;
  left:53px;
  top:160px;
  width:71px;
  height:32px;
}
#u10034 {
  position:absolute;
  left:2px;
  top:7px;
  width:67px;
  word-wrap:break-word;
}
#u10035_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10035 {
  position:absolute;
  left:172px;
  top:160px;
  width:71px;
  height:32px;
}
#u10036 {
  position:absolute;
  left:2px;
  top:7px;
  width:67px;
  word-wrap:break-word;
}
#u10037_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10037 {
  position:absolute;
  left:281px;
  top:160px;
  width:71px;
  height:32px;
}
#u10038 {
  position:absolute;
  left:2px;
  top:7px;
  width:67px;
  word-wrap:break-word;
}
#u10039_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10039 {
  position:absolute;
  left:53px;
  top:217px;
  width:71px;
  height:32px;
}
#u10040 {
  position:absolute;
  left:2px;
  top:7px;
  width:67px;
  word-wrap:break-word;
}
#u10041_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10041 {
  position:absolute;
  left:172px;
  top:217px;
  width:71px;
  height:32px;
}
#u10042 {
  position:absolute;
  left:2px;
  top:7px;
  width:67px;
  word-wrap:break-word;
}
#u10043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10043 {
  position:absolute;
  left:281px;
  top:217px;
  width:71px;
  height:32px;
}
#u10044 {
  position:absolute;
  left:2px;
  top:7px;
  width:67px;
  word-wrap:break-word;
}
