body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:414px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:800px;
}
#u8227 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:800px;
}
#u8228 {
  position:absolute;
  left:2px;
  top:392px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8229_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:595px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8229 {
  position:absolute;
  left:32px;
  top:120px;
  width:350px;
  height:595px;
}
#u8230 {
  position:absolute;
  left:2px;
  top:290px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:2px;
}
#u8231 {
  position:absolute;
  left:32px;
  top:147px;
  width:350px;
  height:1px;
}
#u8232 {
  position:absolute;
  left:2px;
  top:-8px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8233_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:595px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8233 {
  position:absolute;
  left:32px;
  top:120px;
  width:350px;
  height:595px;
}
#u8234 {
  position:absolute;
  left:2px;
  top:290px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8235 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:58px;
}
#u8236 {
  position:absolute;
  left:32px;
  top:79px;
  width:350px;
  height:58px;
}
#u8237 {
  position:absolute;
  left:2px;
  top:21px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8238_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:39px;
  background:inherit;
  background-color:rgba(54, 56, 59, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8238 {
  position:absolute;
  left:105px;
  top:98px;
  width:240px;
  height:39px;
}
#u8239 {
  position:absolute;
  left:2px;
  top:12px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8240_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u8240 {
  position:absolute;
  left:162px;
  top:105px;
  width:91px;
  height:25px;
  color:#FFFFFF;
}
#u8241 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u8242_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u8242 {
  position:absolute;
  left:142px;
  top:152px;
  width:131px;
  height:19px;
  font-size:16px;
}
#u8243 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u8244_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u8244 {
  position:absolute;
  left:56px;
  top:201px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u8245 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u8246 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u8247 {
  position:absolute;
  left:181px;
  top:195px;
  width:32px;
  height:32px;
}
#u8248 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u8249 {
  position:absolute;
  left:216px;
  top:195px;
  width:32px;
  height:32px;
}
#u8250 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u8251 {
  position:absolute;
  left:252px;
  top:195px;
  width:32px;
  height:32px;
}
#u8252 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u8253 {
  position:absolute;
  left:288px;
  top:195px;
  width:32px;
  height:32px;
}
#u8254 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u8255 {
  position:absolute;
  left:327px;
  top:195px;
  width:32px;
  height:32px;
}
#u8256 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8257_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u8257 {
  position:absolute;
  left:56px;
  top:249px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u8258 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u8259 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u8260 {
  position:absolute;
  left:180px;
  top:244px;
  width:32px;
  height:32px;
}
#u8261 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u8262 {
  position:absolute;
  left:215px;
  top:244px;
  width:32px;
  height:32px;
}
#u8263 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8264_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u8264 {
  position:absolute;
  left:251px;
  top:244px;
  width:32px;
  height:32px;
}
#u8265 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u8266 {
  position:absolute;
  left:287px;
  top:244px;
  width:32px;
  height:32px;
}
#u8267 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8268_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u8268 {
  position:absolute;
  left:326px;
  top:244px;
  width:32px;
  height:32px;
}
#u8269 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8270_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u8270 {
  position:absolute;
  left:56px;
  top:300px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u8271 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u8272 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8273_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u8273 {
  position:absolute;
  left:179px;
  top:296px;
  width:32px;
  height:32px;
}
#u8274 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8275_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u8275 {
  position:absolute;
  left:214px;
  top:296px;
  width:32px;
  height:32px;
}
#u8276 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8277_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u8277 {
  position:absolute;
  left:250px;
  top:296px;
  width:32px;
  height:32px;
}
#u8278 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8279_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u8279 {
  position:absolute;
  left:286px;
  top:296px;
  width:32px;
  height:32px;
}
#u8280 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8281_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u8281 {
  position:absolute;
  left:325px;
  top:296px;
  width:32px;
  height:32px;
}
#u8282 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8283_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8283 {
  position:absolute;
  left:137px;
  top:433px;
  width:140px;
  height:40px;
}
#u8284 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
